.Password {
  display: flex;
  width: 200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.Password > button {
  flex-basis: calc(100% / 3 - 6px);
  margin: 0 3px 6px;
}

.Password-current {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px;
  margin: 0 3px 6px;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 20px;
}

.Password-access {
  color: green;
}